<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>scrum exercise</title>
  </head>
  <body>

    <h2>I like tacos!</h2>

  </body>
</html>
<h1> Welcome to the Time is <%= Time.now%></h1>
