<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>zorro fan page</title>
  </head>
  <body>

    <h1> what time is it? <%= Time.now%></h1>
    <br>
    <marquee><img src="http://i.imgur.com/LxZU0cc.png"></marquee>

  </body>
</html>
